:root {
	/* links */
	--lesson-link-color: blue;
	--lesson-link-visited: purple;

    /* navigation sidebar */
    --sidebar-background: #262626;
    --sidebar-color: #fcc28c;
    --sidebar-selected-color: white;
    --sidebar-width: 20rem;

    /* main content area */
    --lesson-background: white;
    --lesson-color: black;
    --lesson-code-background: rgba(0, 0, 0, 0.1);

    /* code blocks */
    --code-background: #333;
}

body {
    font: 16px/1.5 'Source Sans Pro', Sans-Serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 0 0 1em;
}
    section header,
    section nav,
    section footer {
        margin-left: 2rem;
        margin-right: 2rem;
    }

article {
    padding: 0 2em 1em;
}

section, article {
    min-height: 100vh;
}

footer {
    font-size: 80%;
}

nav, footer {
    border-top: solid 1px #fcc28c;
}

h1 {
    font-size: 2em;
}

h1, p, ul, ol, pre {
    margin: 1rem 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}
    a:hover {
        border-bottom-color: inherit;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

/* used for "run it" links */
strong em a {
	font-style: normal;
	font-weight: normal;
	font-size: 80%;
	position: relative;
	top: -1em;
}

code {
    background: var(--lesson-code-background); /* for inline code elements */
    font: 14px/1.25 'Source Code Pro', monospace;
    padding: 0 0.25em;
}
    h2 code, h3 code {
        display: inline-block;
        font-size: calc(0.85 * 1em);
        padding: 0 0.25rem;
    }

#everything-that-is-not-a-lesson {
    position: fixed;
    top: 0;
    width: var(--sidebar-width);
}
    #everything-that-is-not-a-lesson ul {
        padding-left: 1.5em;
    }
    #everything-that-is-not-a-lesson,
    #everything-that-is-not-a-lesson a,
    #everything-that-is-not-a-lesson a:visited {
        background: var(--sidebar-background);
        color: var(--sidebar-color);
    }
        #everything-that-is-not-a-lesson .selected,
        #everything-that-is-not-a-lesson .selected a {
            color: white;
            border-bottom-color: white;
        }

#lesson {
    background: var(--lesson-background);
    color: var(--lesson-color);
    margin-left: var(--sidebar-width);
    max-width: 50em;
    min-width: 30em;
    opacity: 1;
    transition: opacity 0.15s ease;
}
    #lesson.hide {
        opacity: 0;
    }
    #lesson a {
	    color: var(--lesson-link-color);
    }
	    #lesson a:hover {
	        border-bottom-color: blue;
	    }
	    #lesson a:visited {
	        color: var(--lesson-link-visited);
	    }
		    #lesson a:visited:hover {
		        border-bottom-color: purple;
		    }
    #lesson nav {
	    border-color: var(--lesson-color);
    }
	    #lesson nav ul {
		    display: table;
		    list-style: none;
		    margin: 1em 0;
		    padding: 0;
		    width: 100%;
	    }
		    #lesson nav ul li {
			    display: table-cell;
			    width: 50%;
		    }
			    #lesson nav ul li a {
				    font-size: 80%;
			    }
			    #lesson nav ul li:first-child {}
			    #lesson nav ul li:last-child {
				    text-align: right;
			    }

/* overrides to the default highlighter.js theme */
.hljs {
    background: var(--code-background);
    padding: 0.75em;
}

/* loading animation */
.fidget-spinner {
    background-image: none;
    background-position: initial initial;
    background-repeat: initial initial;
    bottom: -5px;
    display: inline-block;
    opacity: 0;
    position: relative;
    transition: opacity 0.25s ease;
}
    .fidget-spinner.show {
        opacity: 1;
    }
